vaadin.launch-browser=true
spring.application.name=tp.prog3
vaadin.security.disable-automatic-login-redirect=true
//Establezco el mapeo de la URL para que todas las rutas de Vaadin estén bajo /ui/*, para evitar conflictos con la api REST
vaadin.url-mapping=/ui/*

//PostgreSQL config
spring.datasource.url=jdbc:postgresql://localhost:5432/your_db
spring.datasource.driverClassName=org.postgresql.Driver
spring.datasource.username=your_user
spring.datasource.password=your_password

//JPA config
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true

#JWT
jwt.secret= //Inserta tu token, el cual NO DEBES EXPONER EN NINGUN LADO. Para buenas prácticas, se incluye en un .env, junto a la URI de MongoDB
jwt.expiration = //Expiración de tu token. Generalmente es en milisegundos